.Skam{
    color: #fff;
    
    text-align: center;
    
    text-decoration-color: #fff;
    
}
a{
    color: #fff;
    text-align: center;
    padding: 28px;
    
    font-size: 30px;
}

.skamer{
    padding-bottom: 80px;
}